p{
    color: plum;
    padding: 1rem;
    font-style: oblique;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 25rem;
    box-shadow: 10px 10px 10px rgba(1, 29, 172, 0.193);
}

img{
    width: 100%
}
 a{
    
    color: plum;
    padding: 1rem;
 }

 .poesia{
    display: flex;
    justify-content: center;
    align-items: center;
 }
